header {
    display: flex;
    align-items: center;
    background-color: var(--azul-600);
    width: 100%;
    height: 125px;
    font-family: 'Poppins';

}

img {
    cursor: pointer;
}

header #logo {
    width: 102px;
    height: 100px;
    margin-left: 110px;
}

header h1 {
    font-size: 48px;
    line-height: 40px;
    color: var(--branco);
}

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.barra-de-pesquisa {
    display: flex;
    align-items: center;
    background-color: var(--azul-100);
    padding: 0 16px 0 16px;
    margin-left: 222px;
    border-radius: 50px;
    box-shadow: 0px 1.5px 4px rgb(0, 0, 0, 0.6); 
}

.barra-de-pesquisa > img:hover {
    cursor: pointer;
}

.barra-de-pesquisa > input {
    display: flex;
    align-items: center;
    background-color: var(--azul-100);
    width: 800px;
    height: 55px;
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 16px;
    font-family: 'Poppins', monospace;
}

header .barra-de-pesquisa > input::placeholder  {
    color: var(--azul-400);
    font-family: 'Poppins', monospace;
}

header .barra-de-pesquisa img {
    width: 24px;
    height: 24px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

section > h1 {
    color: var(--azul-400);
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 48px;
    margin: 25px 0 15px 110px;
    width: 100%;
}

section > h2,
form > h2 {
    color: var(--azul-400);
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 36px;
    margin: 0 0 0 110px;
    width: 100%;
}

form .formulario_login {
    display: flex;
    width: 700px;
    margin: 0 0 0 110px;
}

form div > h3 {
    color: var(--azul-500);
    font-weight: 500;
    font-family: 'Poppins';
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 0;
}

section form div > input {
    width: 100%;
    height: 50px;
    padding-left: 12px;
    border: solid 1px black;
}

section form div > input::placeholder {
    color: var(--azul-400);
    font-family: 'Inter', serif;
}

section form .img-dentro-input {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--branco);
    border: solid 1px black;
    margin-bottom: 40px;
}

section form img {
    margin-right: 15px;
}

#largura-form, #largura-form-gap {
    width: 680px;
    display: flex;
    flex-wrap: wrap;
}

#largura-form-gap {
    row-gap: 20px;
}

.div-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 700px;    
}

form .div-input > .tres-input {
    width: 195px;
    height: 50px;
}

form .div-input > .dois-input {
    width: 285px;
    height: 50px;
}

form > h3 {
    margin-left: 300px;
    width: 550px;
}

#h2-especifico {
    margin-bottom: 15px;
}

button {
    cursor: pointer;
    background-color: var(--azul-300);
    color: var(--branco);
    font-family: 'Inter', serif;
    font-size: 20px;
    width: 210px;
    height: 45px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-right: 50px;
}