body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    overflow-x: hidden;    
}

header {
    display: flex;
    background-color: #FAFAFA;
    width: 100%;
    flex-wrap: wrap;
    height: 90px;
}

#paragrafo-cabecalho {
    margin-top: 40px;
    width: 300px;
    margin-left: 40px;
}

#logo {
    width: 200px;
    height: 60px;
    margin-left: 60px;
    margin-top: 15px;
}

#icones-header {
    width: 40%;
    height: 40px;
    margin-left: 150px;
    margin-top: 25px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7.5px;
    border-bottom: solid 1px #E8E8E5;
    flex-wrap: wrap;
}

nav p {
    margin-right: 50px;
    margin-left: 0px;
    font-weight: 600;
    font-size: 14px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#banners img {
    width: 300px;
    height: 500px;
    margin-top: 100px;
    border-radius: 24px;
    margin-left: 40px;
}

#noticias {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 150px;
}

article h1 {
    font-size: 48px;
    margin-left: 70px;
    margin-top: 120px;
}

article h3 {
    font-size: 24px;
    margin-left: 900px;
    margin-right: 0px;
    margin-top: 140px;
    color: #147A02;
}

#noticias img {
    width: 300px;
    height: 290px;
    margin-left: 40px;
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
}
#banners .primeiro, #noticias .primeiro{
    margin-left: 70px;
}
#banners .ultimo, #noticias .ultimo {
    margin-right: 70px;
}

#noticias h2 {
    width: 300px;
    height: 100px;
    margin-left: 40px;
    color: #4CAF50;
    font-weight: 500;
    margin-bottom: 0px;
}

#noticias p {
    width: 300px;
    margin-left: 40px;
    color: #666666;
    font-weight: 500;
    font-size: 12px;
}

#cursos {
    background-color: #08860B;
    color: white;
    width: 100%;
}

#processos-seletivos {
    background-color: #E4ECE6;
    color: black;
    width: 100%;
    padding-bottom: 100px;
}

#cursos h1, #processos-seletivos h1 {
    font-size: 48px;
    margin-left: 70px;
    margin-top: 90px;
    font-weight: 700;
}

#cursos h3 {
    font-size: 24px;
    margin-left: 1090px;
    margin-right: 0px;
    margin-top: -75px;
}

#processos-seletivos h3 {
    font-size: 24px;
    margin-left: 1090px;
    margin-right: 0px;
    margin-top: -75px;
    color: #08860B;
}

#cursos p, #processos-seletivos p {
    width: 725px;
    font-size: 18px;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 45px;
    line-height: 30px;
}

#primeiro-curso {
    margin-left: 70px;
    width: 413px;
    height: 175px;
    background-color: #066B09;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
}

#primeiro-curso h5, #segundo-curso h5, #terceiro-curso h5, #quarto-curso h5 {
    font-weight: lighter;
    margin-left: 35px;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 16px;
}

.carga-horaria {
    font-weight: lighter;
    margin-left: 35px;
    margin-top: -5px;
    margin-bottom: 25px;
    font-size: 16px;
    width: 120px;
}

.duracao {
    font-weight: lighter;
    margin-left: 35px;
    margin-top: -5px;
    margin-bottom: 25px;
    font-size: 16px;
    width: 90px;
}

#primeiro-curso h2, #segundo-curso h2, #terceiro-curso h2, #quarto-curso h2 {
    font-weight: 400;
    margin-left: 35px;
    margin-top: 0px;
    width: 100%;
}

#amostra-cursos {
    display: flex;
    flex-wrap: wrap;
}

#segundo-curso {
    margin-left: 40px;
    margin-right: 40px;
    width: 413px;
    height: 175px;
    background-color: #066B09;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
}

#terceiro-curso {
    margin-right: 70px;
    width: 413px;
    height: 175px;
    background-color: #066B09;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
}

#quarto-curso {
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 50px;
    width: 1319px;
    height: 175px;
    background-color: #066B09;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
}

#quarto-curso .duracao {
    margin-left: 490px;
}

#opcoes-cursos, #opcoes-processos {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    width: 100%;
}

select {
    width: 1170px;
    padding-left: 30px;
    height: 65px;
    font-size: 16px;
    margin-bottom: 75px;
    border-radius: 6px;
    border: solid 0px;
}

button {
    background-color: #062601;
    color: white;
    width: 145px;
    height: 65px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    border: solid 0px;
}

#em-andamento {
    display: flex;
    flex-wrap: wrap;
}

#em-andamento h5 {
    font-size: 24px;
    font-weight: lighter;
    color: gray;
    margin-left: 70px;
    margin-top: -5px;
    width: 100%;
    margin-bottom: 0;
}

#nav-em-andamento h6 {
    font-size: 16px;
    font-weight: lighter;
    color: gray;
    margin-bottom: 10px;
}

#nav-em-andamento {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px gray;
    margin-bottom: 20px;
    width: 87%;
    margin-left: 70px;
}

#nav-em-andamento .espaco-nav-em-andamento {
    margin-left: 40px;
}

#card-em-andamento h6 {
    font-size: 16px;
    font-weight: lighter;
    margin-left: 30px;
    margin-top: 20px;
    width: 450px;
}

#card-em-andamento h5 {
    font-size: 24px;
    color: #066B09;
    font-weight: lighter;
    margin-top: -55px;
    margin-left: 30px;
}

#card-em-andamento .nao-edital-um {
    font-size: 14px;
    margin-left: 30px;
    margin-right: 0;
    margin-top: 0px;
    width: 200px;
}
#card-em-andamento .nao-edital-um-ultimo {
    font-size: 14px;
    margin-left: 30px;
    margin-right: 0;
    margin-top: 0px;
    width: 700px;
}

#card-em-andamento .nao-edital-dois {
    font-size: 14px;
    margin-top: -40px;
    width: 200px;
    margin-left: 30px;
}

#card-em-andamento .nao-edital-dois-ultimo {
    font-size: 14px;
    margin-top: -40px;
    width: 700px;
    margin-left: 30px;
}

#card-em-andamento .edital {
    font-size: 15px;
    color: black;
    font-weight: 500;
    margin-left: 500px;
    text-align: center;
    width: 220px;
}

#card-em-andamento {
    display: flex;
    flex-wrap: wrap;
    color: gray;
    background-color: white;
    width: 87%;
    margin-left: 70px;
    border-radius: 8px;
    border-left: solid 3px #CC8E35;
    height: 150px;
    margin-bottom: 10px;
}

#primeiro-curso:hover, #segundo-curso:hover, #terceiro-curso:hover, #quarto-curso:hover {
    background-color: #054b07;
}

#nav-em-andamento h6:hover {
    color: #06850a;
    text-decoration: underline;
}

#campi {
    background-color: #062601;
    color: white;
    width: 100%;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
}

#campi img {
    width: 100%;
    background-color: aqua;
}

#campi h1 {
    font-size: 48px;
    margin-top: -15px;
    font-weight: 700;
    width: 100%;
}

#campi p {
    width: 740px;
    font-size: 18px;
    color: rgb(151, 151, 151);
    margin-top: 30px;
    margin-bottom: 45px;
    line-height: 30px;
}

#IFRN-numeros h1 {
    font-size: 48px;
    margin-top: -15px;
    font-weight: 700;
    width: 100%;
    margin-left: 70px;
}

#IFRN-numeros p {
    width: 740px;
    font-size: 18px;
    color: gray;
    margin-top: 30px;
    margin-bottom: 45px;
    line-height: 30px;
    margin-left: 70px;
}

#IFRN-numeros {
    padding-top: 90px;
    height: 200px;
}


#numeros .num h2 {
    font-size: 36px;
    width: 100px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0;
}

#numeros .num p {
    font-size: 16px;
    margin-left: 70px;
    margin-top: 0;
    width: 300px;
    color: black;
}

#IFRN-numeros #numeros .num {
    width: 500px;
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

#numeros {
    width: 1920px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
}

.suporte {
    width: 1319px;
    margin-left: 70px;
    margin-top: 75px;
    color: gray;
}

#suportee {
    margin-top: 0;
}

footer {
    background-color: #062601;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
}

footer #texto {
    color: white;
    width: 100%;
}